{% extends 'app/base.html' %}


{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="h4 mb-3">Crear ingrediente</h2>


                    <form method="post" novalidate>
                        {% csrf_token %}

                        {{ formularios }}
                        <!-- {% for field in form.visible_fields %}
                        <div class="mb-3">
                            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>


                            {% if field.field.widget.input_type == 'checkbox' %}
                            <div class="form-check">
                                {{ field }}
                                <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.help_text
                                    }}</label>
                            </div>
                            {% else %}
                            {{ field }}
                            {% endif %}


                            {% if field.help_text %}
                            <div class="form-text">{{ field.help_text }}</div>
                            {% endif %}


                            {% for error in field.errors %}
                            <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        {% endfor %} -->


                        <div class="d-flex justify-content-between align-items-center mt-4">
                            <a href="{% url 'app:ingredientes_lista' %}" class="btn btn-outline-secondary">Volver</a>
                            <button type="submit" class="btn btn-primary">Guardar ingrediente</button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}