* { 
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
    /*forzar*/
    background-color: rgb(150, 133, 111);
    padding: 10px;
    font-weight: bold;
    margin-bottom: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    margin-right: 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

/* nav:hover {
    animation: rotar 20s;
}

@keyframes rotar {
    
    0% {
        transform: rotateX(0deg) scale(1);
        background-color: rgb(150, 133, 111);
    }
    50% {
        transform: rotateX(3600deg) scale(20);
        background-color: rgb(218, 204, 186);
    }
    100% {
        transform: rotateX(0deg) scale(1);
        background-color: rgb(150, 133, 111);
    }
} */

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin: 0 auto;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgb(150, 133, 111);
}

label {
    font-weight: bold;
}

input, textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: rgb(150, 133, 111);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}