{% extends 'blog/base.html' %}

{% block titulo %}
Autores
{% endblock %}

{% block contenido %}
    <h1>Autores</h1>
    <ul>
        {% for autor in autores %}
            <li>
                <a href="{% url 'autor_posts' pk=autor.pk %}">{{ autor.nombre }} {{ autor.apellido }}</a> 
            </li>
        {% endfor %}
        
    </ul>

    <br>

    <a style="background-color: rgb(218, 204, 186); width: 120px; text-align: center; margin-top: 20px; padding: 10px;  border-radius: 10px; text-decoration: none; color: black; font-weight: bold;" href="{% url 'nuevo_autor' %}">Crear nuevo autor</a>
{% endblock %}