<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <style>
        * {
            margin: 0;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        body {
            margin: 0 auto;
        }
    </style>
</head>
<body>


    <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;">

    {% for post in entradas %}
        <div style="background-color: rgb(150, 133, 111); margin: 20px; padding: 15px; display: flex; flex-direction: column; border-radius: 10px; width: 400px; min-height: 250px;">
            <div style="display: flex; gap: 10px; background-color: antiquewhite; padding: 10px;  border-radius: 5px;">
                <a style="background-color: rgb(218, 204, 186); width: 120px; text-align: center; padding: 10px;  border-radius: 10px; text-decoration: none; color: black; font-weight: bold;" href="{% url 'autor_posts' pk=post.autor.pk %}">{{post.autor}}</a>
                
            </div>
            <div style="display: flex; flex-direction: column; background-color: antiquewhite; margin-top: 10px; padding: 10px;  border-radius: 5px 5px 0 0; height: 100%;">
                <div style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
                    <div style="display: block;">
                        <h2 style="display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-align: justify;">{{post.titulo}}</h2>
                        <p style="
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-align: justify;
                        ">
                        {{post.cuerpo}}
                        </p>

                    </div>
                    <a style="background-color: rgb(218, 204, 186); width: 120px; text-align: center; padding: 10px;  border-radius: 10px; text-decoration: none; color: black; font-weight: bold;" href="{% url 'detalle_post' pk=post.pk %}"> Ver detalles</a> <!--La url será lo que haya puesto en name de urls.py y le pasamos un parámetro-->
                </div>
            </div>
            <p style="background-color: rgb(218, 204, 186); padding: 10px;  border-radius: 0 0 5px 5px;">{{post.fechaPublicacion}}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>